<mat-toolbar color="primary">
  <span>My Mobile App</span>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<nav class="bottom-nav">
  <a class="button" routerLink="/home" icon="home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Home
  </a>
  <a class="button" routerLink="/profile" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Profile
  </a>
  <a class="button" routerLink="/settings" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Settings
  </a>
</nav>